{% extends "base.html.twig" %}

        {% block title %} {{ controller_name }} {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% block body %}

            <div><h3>  <a href="{{ path('home') }}"><< Volver a Index Entregas </a> <h3></div>

            <div><h2> Entrega 4 <h2></div>


            <div><h3> Ejercicio 3 <h3></div>
            <div><h4> Implementa una API dentro del proyecto o en un proyecto nuevo. <h4></div>

            <div><h4> http://127.0.0.1:8000/api/productos </a> <h4></div>

            <div><h3> Ejercicio 4 <h3></div>
            <div><h4> Realice las operaciones de ABM de alguna entidad que contenga en el proyecto <h4></div>


            

        

        {% endblock %}
