{% extends "base.html.twig" %}

        {% block title %} {{ controller_name }} {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% block body %}

        <div>  {{ controller_name }} </div>

        {% endblock %}
